<%- include ('./includes/header.ejs') %>
<link rel="stylesheet" href="/css/homepage.css">
<%- include ('./includes/navbar.ejs') %>
<%- include ('./includes/socialMedia.ejs') %>
<%- include ('./includes/eventNotifier.ejs') %>
<!-- MAIN CODE -->
<section id="main">
  <div class="main">
    <center>
      <div class="main-text">
        <h1 class="acm-vit">ACM-VIT Student Chapter</h1>
        <h3 class="lge">Learn | Grow | Excel</h3>
      </div>
    </center>
  </div>
</section>
<br>
<br>
<section id="logos">
  <div class="container logos">
    <div class="row">
      <div class="col-4">
        <img src="/images/ACM_Logo-edit.png" class="responsive" alt="">
      </div>
      <div class="col-4">
        <img src="/images/acm.png" alt="" class="responsive">
      </div>
      <div class="col-4">
        <img src="/images/VIT.png" alt="" class="responsive">
      </div>

    </div>
  </div>
</section>
<br>
<br>
<section id="acm">
  <div class="container-flex" id="hexback">
    <div class="container">
      <h1>Association of Computer and Machinery</h1>
      <p style="width:70%; font-size:1.5rem;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <br>
      <div class="know-more" style="margin-left:3rem;">

        <p style="font-size:1.2rem">To Know More About Us,</p>
        <button class="btn btn-style-yellow" style="margin-left:2rem;">Click here</button>
      </div>
    </div>
  </div>
</section>
<br>
<section id="events">
  <div class="container-flex">
    <div class="container">
      <center>
        <h1><mark>Events</mark></h1>
        <div class="container">
          <div class="row">
            <div class="col-4">
              <h3>50+</h3>
              <p>Seminars</p>
            </div>
            <div class="col-4">
              <h3>50+</h3>
              <p>Seminars</p>
            </div>
            <div class="col-4">
              <h3>50+</h3>
              <p>Seminars</p>
            </div>
          </div>
        </div>
      </center>
        <div class="boxes">
          <div class="left-button">

          </div>
          <div class="right-button">

          </div>
          <div class="row">
            <div class="col-4">
              <div class="box one">

              </div>
            </div>
            <div class="col-4">
              <div class="box two">

              </div>
              <div class="box three">

              </div>
            </div>
            <div class="col-4">
              <div class="box four">

              </div>
              <div class="box five">

              </div>
            </div>
          </div>
        </div>

    </div>
  </div>
</section>
<br>
<section id="blogs">
  <div class="container-flex">
    <div class="container">
        <center>
          <h1><mark>Blogs</mark></h1>
          <p>Read latest articles posted by our committe members now.</p>
        </center>
        <div class="row">
          <div class="col-md-3">
            <div class="card">
              <img class="card-img-top" src="./images/background.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img class="card-img-top" src="/images/background.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img class="card-img-top" src="/images/background.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img class="card-img-top" src="/images/background.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
              </div>
            </div>
          </div>
        </div>
        <center>
          <br>
          <h2><mark>Read More</mark></h2>
          <button class="btn btn-style-yellow">Blogs</button>
        </center>
    </div>
  </div>
</section>
<br>
<hr>
<section id="code-n-grow">
  <!-- <div class="jumbotron"> -->
    <div class="container-flex">

      <div class="row" style="margin:0;padding:0">

        <div class="col-md-6" style="height:90vh; background-color:green" id="test">
        </div>
        <div class="col-md-6">
          <center>
          <div class="ver-center">

          </div>
          <h1>ACM-VIT's Code And Grow</h1>
          <h1>Community</h1>
          <h4>Be a part of our community group to get daily problem statements,</h4>
          <h4> tech news and fun!</h4>
          </center>
        </div>
      </div>
    </div>

    <!-- </div> -->

</section>
<br>
<br>
<hr>
<section id="timeline">
  <h1><center><mark>Our History</mark></center></h1>
  <section class="cd-horizontal-timeline">
	<div class="timeline">
		<div class="events-wrapper">
			<div class="events">
				<ol style="list-style-type:none">
					<li><a href="#0" data-date="16/06/2018" class="selected">July 2018</a></li>
					<li><a href="#0" data-date="16/12/2018">Dec 2018</a></li>
					<li><a href="#0" data-date="20/07/2019">July 2019</a></li>
					<li><a href="#0" data-date="20/12/2019">Dec 2019</a></li>
					<li><a href="#0" data-date="09/04/2020">April 2020</a></li>
					<li><a href="#0" data-date="30/08/2020">August 2020</a></li>

				</ol>

				<span class="filling-line" aria-hidden="true"></span>
			</div> <!-- .events -->
		</div> <!-- .events-wrapper -->

		<ul class="cd-timeline-navigation" style="list-style-type:none">
			<li><a href="#0" class="prev inactive">Prev</a></li>
			<li><a href="#0" class="next">Next</a></li>
		</ul> <!-- .cd-timeline-navigation -->
	 </div> <!-- .timeline -->

  	<div class="events-content">
  		<ol style="list-style-type:none">
  			<li class="selected" data-date="16/06/2018">
  				<h2>Formation of ACM-VIT</h2>
  				<em>July 16th, 2018</em>
  				<p>
  					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
  				</p>
  			</li>

  			<li data-date="16/12/2018">
  				<h2>Biggest Web Development Workshop</h2>
  				<em>December 16th, 2018</em>
  				<p>
  					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
  				</p>
  			</li>

  			<li data-date="20/07/2019">
  				<h2>New Committee Members 2019-20</h2>
  				<em>July 20th, 2019</em>
  				<p>
  					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
  				</p>
  			</li>

  			<li data-date="20/12/2019">
  				<h2>Event title here</h2>
  				<em>December 20th, 2019</em>
  				<p>
  					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
  				</p>
  			</li>

  			<li data-date="09/04/2020">
  				<h2>Knowledge Express Webinars</h2>
  				<em>April 9th, 2020</em>
  				<p>
  					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
  				</p>
  			</li>

  			<li data-date="30/08/2020">
  				<h2>New Committee Members 2020-21</h2>
  				<em>August 30th, 2020</em>
  				<p>
  					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
  				</p>
  			</li>


  		</ol>
  	</div> <!-- .events-content -->
  </section>
</section>
<hr>
<section id="team">
  <center> <h1> <mark>Our Team</mark> </h1>
    <h4>2020-2021</h4>

  </center>

  <div class="container">
    <center>
      <div class="team-convener">
      </div>
      <h2>Convener</h2>
      <h3>Prof. Bhanu Tekwani</h3>
    </center>
    <br>
    <div class="row">
      <div class="col-3 ">
        <div class="team-members">

        </div>
        <center>
          <h3>Chair Person</h3>
          <h4>Mohit Jain</h4>
        </center>
      </div>
      <div class="col-3 ">
        <div class="team-members">

        </div>
        <center>
          <h3>Vice Chair</h3>
          <h4>Hrudyesh Salunke</h4>
        </center>
      </div>
      <div class="col-3 ">
        <div class="team-members">

        </div>
        <center>
          <h3>Secretary</h3>
          <h4>Rohana Survase</h4>
        </center>
      </div>
      <div class="col-3 ">
        <div class="team-members">

        </div>
        <center>
          <h3>Treasurer</h3>
          <h4>Shraddha Babar</h4>
        </center>
      </div>
    </div>
    <br>
    <center>
      <h1>To Know More About Our Team,</h1>
      <button class="btn btn-style-yellow">Our Team</button>
    </center>

  </div>
</section>
<br>
<br>


<%- include ('./includes/footer.ejs') %>
